@charset "utf-8";

/* common */

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;
    background-color: gold;
}

/* header */

header {
    width: 100%;
    height: 160px;
}

#header_top {
    width: 100%;
    height: 40px;
    background-color: #eee;
}

#header_top .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* 좌측 상단 로고 */
#header_main img {
    height: 55px;
    margin-top: 10px;
    vertical-align: middle;

}

/* 로고 오른쪽 단기 메뉴 */
#header_main select {
    width: 70px;
    height: 35px;
    margin-left: 20px;
    border-radius: 5px;
        
}

/* 로그인 회원가입 박스 위치설정 */
.login {
    width: 290px;
    height: 20px;
    /* background-color: orange; */
}

/* 로그인 회원가입 박스 설정 */
.login ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
}

/* 로그인 회원가입 라인 정렬 */
.login li {
    float: left;
    padding: 0 5px;
}

/* 로그인 회원가입 라인 after사용 */
.login li::after {
    content: "|";float: right; margin-right: -8px;
}

.login li:last-child::after{content:"";}

.login a {
    text-decoration: none;
    color: #333;

}

#header_main {
    width: 1140px;
    height: 70px;
    margin: 0 auto;
    background-color: skyblue;
}

nav {
    width: 100%;
    height: 55px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

nav .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


nav ul {
    width: 710px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 18px;
    background-color: cyan;
}


/* main */

main {
    width: 1140px;
    height: 2200px;
    margin: 0 auto;
    display: flex;
    background-color: pink;
}

aside {
    width: 300px;
    height: 100%;
    background-color: greenyellow;
}

#maincontent {
    width: calc(100% - 300px);
    height: 100%;
    background-color: azure;
}

#slider {
    width: 100%;
    height: 390px;
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    /* background-color: green; */
}

#slider_txt {
    width: 270px;
    height: 100%;
    position: relative;
    background-color: powderblue;
}

.swiper-button-next {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 150px;
    right: auto;
    top: auto;
    bottom: 100px;
    color: #888;
}


.swiper-button-prev {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 30%;
    top: auto;
    bottom: 100px;
    color: #888;
}



#slider_txt .swiper-navigation-icon {
    width: 50%;
    height: 50%;    
}


/* swiper css */
#slider .swiper {
    width: calc(100% - 270px);
    height: 100%;
}



.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* new */
#new {
    width: 100%;
    height: 520px;
}

#new .swiper {
    width: 100%;
    height: 100%;
}

#new .swiper-slide {
    flex-direction: column;
    justify-content: flex-start;
}

#new .swiper-slide img {
    width: 100%;
    height: auto;
    
}



/* footer */

/* 하단 설명창 회색줄 */
#footerAll {
    width: 100%;
    height: 70px;
    border-top: 1px solid #ddd;
}

#footerAll .container {
    display: flex;
    justify-content: space-between;
}

.footer_menu {
    width: 30%;
    height: 35px;    
    background-color: blue;
}

#footerAll ul li{
     display: inline-flex;
     justify-content: space-around;
     gap: 0 5px;
     font-size: 12px;
     font-weight: bold;
     color: #888;
}

#footerAll ul li::after {
    content: "|";
    
    margin-left: 11px;
    font-size: 8px;
    color: #888;
}

#footerAll ul li:last-child::after{content:"";}


/* 패밀리사이트 오른쪽 단기 메뉴 */
.footer_familySite {
    width: 15%;
    height: 40px;

    background-color: pink;
}
.footer_familySite select .site-box {
    width: 100%;
    height: 38px;
    padding-left: 15px;
    padding-right: 30px;
    border: 1px solid #888;
    border-radius: 5px;
    
}

/* 회사정보 라인 */
.footerEtc{    
    display: flex;
}

.footerEtc .footer_content ul li::after {
    content: "|";
}
.footerEtc ul li:last-child::after{content:"";}

.footerEtc .footer_content .comp_name {
    display: flex;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 700;
}

.footerEtc .footer_content .impo_1 {
    display: flex;  
    justify-content: flex-start;
    gap: 0 10px;
    font-size: 12px;
}


.footerEtc .footer_content .impo_2 {
    display: flex;
    justify-content: flex-start;
    gap: 0 10px;
    font-size: 12px;
}