@charset "utf-8";

/* common */

.container {
    width: 1140px;
    height: 100%;
    margin: 0 auto;

}

/* 메인페이지 폰트 설정 */

body h2 {
    font-size: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 700;    
}

body h3 {
    font-size: 20px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    color: #333;
}


body h4{
    font-size: 17px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    color: #333;
}

body h6{
    font-size: 12px;
    font-family: 'Noto Sans KR';
    font-weight: 700;
    color: #888;
}

#bestSeller p{
    font-size: 15px;
    font-family: 'Noto Sans KR';
    font-weight: bold;
    color: #333;
}


/* header */

header {
    width: 100%;
    height: 160px;

}

#header_top {
    width: 100%;
    height: 40px;
    background-color: #eee;
}

#header_top .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

/* 좌측 상단 로고 */
#header_main img {
    height: 55px;
    margin-top: 10px;
    vertical-align: middle;

}

/* 로고 오른쪽 단기 메뉴 */
#header_main select {
    width: 70px;
    height: 35px;
    margin-left: 20px;
    border-radius: 5px;

}

/* 로그인 회원가입 박스 위치설정 */
.login {
    width: 290px;
    height: 20px;

}

/* 로그인 회원가입 박스 설정 */
.login ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 13px;
}

/* 로그인 회원가입 라인 정렬 */
.login li {
    float: left;
    padding: 0 5px;
}

/* 로그인 회원가입 라인 after사용 */
.login li::after {
    content: "|";
    float: right;
    margin-right: -8px;
}

.login li:last-child::after {
    content: "";
}

.login a {
    text-decoration: none;
    color: #333;

}

#header_main {
    width: 1140px;
    height: 70px;
    margin: 0 auto;
}


nav {
    width: 100%;
    height: 55px;
    
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}

nav .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


nav ul {
    width: 1140px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    font-size: 18px;    
}


nav ul li {    
    margin-left: 15px;
}


/* main */

main {
    width: 1140px;
    height: 2080px;
    margin: 0 auto;
    display: flex;
    position: relative;
    /* background-color: pink; */
}

/* 메인 오른쪽 최근 본 상품 */

#side_bar{
    margin-top: 40px;
    margin-left: 40px;
    min-width: 100px;
    height: 155px;
    padding: 10px;
    position: sticky;
    top: 20px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
}
#side_bar h6{
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 500;
    font-family: sans-serif;
}

#side_bar ul{
    min-height: 100px;
    border: 1px solid #ddd;
    font-size: 10px;
    color: #C2CAD6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F6F9;
}



#slider {
    width: 100%;
    height: 350px;
    margin-top: 40px;
    margin-left: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
}


/* 불렛(이미지) 기본 스타일 */
#slider .swiper-pagination-bullet {
    width: 50px;
    /* 이미지 크기에 맞게 조절 */
    height: 70px;
    border-radius: 0;
    /* 동그라미 해제 */
    background: none;
    /* 기본 배경색 제거 */
    opacity: 0.5;
    /* 비활성 상태 투명도 */
}

/* 활성화된 슬라이드의 불렛(이미지) 스타일 */
#slider .swiper-pagination-bullet-active {
    opacity: 1;
    border: 2px solid blue;
    /* 강조 효과 */

}

#slider_txt h3 {
    margin-top: 45px;
    margin-left: 40px;
    display: block;
    font-size: 24px;
    color: #333;
}

#slider_txt p {
    margin-top: 20px;
    margin-left: 40px;
    display: block;
    font-size: 14px;
    color: #888;
}

#slider_txt span {
    color: #1060ED;
}




/* 왼쪽 사이드 영역 & 메뉴 */
aside {
    width: 210px;
    height: 100%;
    padding-top: 40px;
    border: #ddd;
    
}

#sidemenu {
    width: 100%;
    height: 390px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.sideMenuTitle {
    width: 180px;
    height: 100px;
    padding: 0 16px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;    
    font-size: 16px;    
    background-color: #1060ED;
    color: #fff
}

.sideMenuHome {
    width: 180px;
    height: 50px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #333;    
}


.sideMenuAll {
    width: 180px;
    height: 50px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #333;    
}

.sideMenuBest {
    width: 180px;
    height: 50px;
    padding: 0 16px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #333;    
}

.sideMenuSub {
    width: 180px;
    height: 60px;
    padding: 0 16px;
    gap: 15px 0;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    color: #333;
    padding-bottom: 20px;    
}


.sideMenuSub ul li {
    padding: 5px 0;
    position: relative;    
    font-size: 15px;
    color: #888;    
}

.sideMenuEvent {
    width: 180px;
    height: 70px;
    padding: 0 16px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    font-weight: bold;
    color: #333;    
}







#maincontent {
    width: calc(100% - 210px);
    height: 100%;
    /* background-color: azure; */
}


/* 교재검색란 */
#search-wrap {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 60px;
}

.book_search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
    border-radius: var(--Radius-md, 8px);
    background: var(--bg-Secondary, #F6F6F9);
    width: 100%;
    height: 100px;
    margin-top: 80px;
}

.book_search .ico.ico_search::after {
    background-color: #7B8A9D;
    width: 16px;
    height: 16px;
}

.book_search .search_title {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.16px;
}

#search-wrap select {
    width: 100px;
    height: 38px;
    border-radius: 5px;
}

.search-box {
    width: 270px;
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;

}

.search-box input {
    width: 100%;
    height: 38px;
    padding-left: 12px;
    padding-right: 35px;
    line-height: 34px;
    letter-spacing: -0.05em;
    position: relative;
    display: inline-block;
    background: var(--white);
    border: 1px solid var(--gray-20);
    border-radius: 8px;
}

.search-box input[type=search]::-webkit-search-cancel-button {
    position: relative;
    right: 0;
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    /* background: url('https://un-static.conects.com/un_static/img/common/icon/ico_txt_del_full.png') no-repeat; */
    background-size: auto 100%;
}

.search-box button.search {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 12px;
    text-align: right;
    background: url('https://un-static.conects.com/un_static/img/common/icon/ico_search.png') no-repeat;
    background-size: 100%;
    border: none;
}

.search-box input[type=search]:focus {
    border-color: var(--blue-70);
}

/* 베스트셀러 */

#bestseller {
    display: block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper_bestSeller10 {
    margin-left: 30px;
    margin-top: 10px;
    width: 100%;
    height: 700px;
    display: block;
}

.bestSeller_tab {
    margin: 10px;
    display: flex;
    justify-content: flex-end;

}

.bestSeller_tab li {
    float: left;
    text-align: center;
    font-size: 12px;
    line-height: 5px;
    cursor: pointer;
    padding: 5px 5px;

}


.bestSeller_tab li:first-child {
    border-right: 1px solid #ddd;
}


article {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    position: relative;
}

article .box {
    width: 20%;
    
}

.month_tab {
    display: none;
}


/* .swiper-best {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
} */



/* 중간 배너 이미지 */
#img a img {
    display: block;
    width: 930px;
    height: 160px;
    margin-bottom: 60px;
}


/* new */
#new {
    width: 100%;
    height: 520px;
    margin-top: 40px;
    position: relative;
}

#new h3{
    margin-bottom: 20px;
}


/* #new swiper css */
#new .swiper {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

#new .swiper-slide {
    flex-direction: column;
    justify-content: flex-start;

}

#new .swiper-slide img {
    width: 100%;
    height: auto;
}

#new .swiper-button-next {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    left: auto;
    right: 0px;
    top: 25px;
    color: #888;
    font-weight: 700;
}

#new .swiper-button-prev {
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    left: auto;
    right: 20px;
    top: 25px;
    color: #888;
    font-weight: 700;
}

#new .swiper-navigation-icon {
    width: 20%;
    height: 20%;
}

#new .swiper-pagination-fraction {
    top: 0px;
    left: auto;
    right: 50px;
    width: auto;
    color: #888;

}

#slider_txt {
    
    width: 270px;
    height: 100%;
    position: relative;
    /* background-color: powderblue; */
}

.swiper-button-next {
    border: 1px solid #ddd;

    left: 150px;
    right: auto;
    top: auto;
    bottom: 100px;
    color: #888;
}


.swiper-button-prev {
    border: 1px solid #ddd;

    left: 30%;
    top: auto;
    bottom: 100px;
    color: #888;
}

/* #slider swiper css */
#slider .swiper {
    width: calc(100% - 270px);
    height: 100%;
}

#slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #444; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* 텍스트 위로 이동 */
}



#slider .swiper-slide>img {
    height: 100%;
}

#slider .slider_content {
    text-align: left;
    padding: 20px;
}

#slider .swiper-pagination {
    text-align: right;
    padding-right: 10%;
}

#slider .swiper-button-next {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 100px;
    right: auto;
    top: auto;
    bottom: 100px;
    color: #888;
}

#slider .swiper-button-prev {
    border: 1px solid #ddd;
    border-radius: 50%;
    left: 30px;
    top: auto;
    bottom: 100px;
    color: #888;
}


#slider_txt .swiper-navigation-icon {
    width: 50%;
    height: 50%;
}




.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
}





/* footer */

/* 하단 설명창 회색줄 */
#footerAll {
    width: 100%;
    height: 70px;
    border-top: 1px solid #ddd;
}

#footerAll .container {
    display: flex;
    justify-content: space-between;
}

.footer_menu {
    width: 30%;
    height: 35px;

}

#footerAll ul li {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: #888;
}

#footerAll ul li::after {
    content: "|";
    vertical-align: middle;
    margin-left: 11px;
    font-size: 8px;
    color: #888;
}

#footerAll ul li:last-child::after {
    content: "";
}


/* 패밀리사이트 오른쪽 단기 메뉴 */
.footer_familySite {
    width: 15%;
    height: 40px;
}



.footer_familySite select .site-box {
    width: 100%;
    height: 38px;
    padding-left: 15px;
    padding-right: 30px;
    border: 1px solid #888;
    border-radius: 5px;

}

/* 회사정보 라인 */
.footerEtc {
    display: flex;
}

.footerEtc .footer_content ul li::after {
    content: "|";
    padding-left: 10px;
}

.footerEtc ul li:last-child::after {
    content: "";
}

.footerEtc .footer_content .comp_name {
    display: flex;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 700;
}

.footerEtc .footer_content .impo_1 {
    display: flex;
    justify-content: flex-start;
    gap: 0 10px;
    font-size: 12px;
}


.footerEtc .footer_content .impo_2 {
    display: flex;
    justify-content: flex-start;
    gap: 0 10px;
    font-size: 12px;
}